@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
  color: white !important;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/hero.jpg');
  background-size: cover;
  background-position: center;
}

/* Estilos para el carrusel de paquetes */
.slick-slide {
  padding: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: white !important;
  font-size: 24px !important;
}

.slick-prev {
  left: -35px !important;
}

.slick-next {
  right: -35px !important;
}
